In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from IPython.display import display, Latex, Math
from IPython.core.interactiveshell import InteractiveShell

In [15]:
sh = InteractiveShell.instance()

def number_to_str (n, cut = 5):
    ns = str (n)
    format_ ="{0:." + str (cut) + "f}"
    if "e" in ns or ("." in ns and len (ns)>cut + 1):
        return format_.format (n)
    else:
        return str (n)
    
def matrix_to_latex (mat, style = "bmatrix"):
    if type (mat) == np.matrixlib.defmatrix.matrix:
        mat=mat.a
    head=r"\begin {" + style + "}"
    tail=r"\end {" + style + "}"
    if len (mat.shape) == 1:
        body=r"\\". join ([str (el) for el in mat])
        return head + body + tail
    elif len (mat.shape) == 2:
        lines=[]
        for row in mat:
            lines.append ("&". join ([number_to_str (el) for el in row]) + r"\\")
    s=head + "" .join (lines) + tail
    return s
    return none

def matrix_to_pandas(m):
    return pd.DataFrame(m)

#sh.display_formatter.formatters ["text/latex"].type_printers [np.ndarray] = matrix_to_latex

def print_mat(o):
    type_printers = {
        np.ndarray: matrix_to_latex
    }
    #printer = type_printers[type(o)]
    #display(Math(printer(o)))
    display(matrix_to_pandas(o))

In [16]:
def create_omega_matrix(N = 3):
    Omega = np.zeros((N, N))
    Omega[0, 1] = 1
    Omega[1, 0] = -1
    return Omega
    
W = create_omega_matrix(5)
print_mat(W)

     0    1    2    3    4
0  0.0  1.0  0.0  0.0  0.0
1 -1.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0

In [17]:
e_val, e_vec = np.linalg.eig(W)
print(np.linalg.norm(W))
print(e_val)
print_mat(e_vec)

1.4142135623730951
[0.+1.j 0.-1.j 0.+0.j 0.+0.j 0.+0.j]

                    0                   1         2         3         4
0  0.707107+0.000000j  0.707107-0.000000j  0.0+0.0j  0.0+0.0j  0.0+0.0j
1  0.000000+0.707107j  0.000000-0.707107j  0.0+0.0j  0.0+0.0j  0.0+0.0j
2  0.000000+0.000000j  0.000000-0.000000j  1.0+0.0j  0.0+0.0j  0.0+0.0j
3  0.000000+0.000000j  0.000000-0.000000j  0.0+0.0j  1.0+0.0j  0.0+0.0j
4  0.000000+0.000000j  0.000000-0.000000j  0.0+0.0j  0.0+0.0j  1.0+0.0j

In [18]:
A1 = np.random.random([5, 5])
B1, _ = np.linalg.qr(A1)

In [19]:
print_mat(B1)

          0         1         2         3         4
0 -0.355838  0.045568  0.102668  0.778466  0.504730
1 -0.683339 -0.309313  0.422599 -0.020422 -0.508297
2 -0.171399 -0.130840 -0.839206  0.299138 -0.399692
3 -0.318359  0.928961 -0.034552 -0.090038 -0.162416
4 -0.525069 -0.148869 -0.324668 -0.544044  0.548405

In [20]:
#print_mat(np.dot(B1, B1.T))
#print_mat(np.dot(B1.T, B1))
W1 = np.dot(np.dot(B1.T, W), B1)
print_mat(W1)

              0             1             2             3             4
0  5.122549e-18  1.412038e-01 -8.021990e-02  5.392229e-01  5.257736e-01
1 -1.412038e-01 -1.072317e-19  5.101362e-02  2.398589e-01  1.329574e-01
2  8.021990e-02 -5.101362e-02  6.173404e-19 -3.310758e-01 -2.654846e-01
3 -5.392229e-01 -2.398589e-01  3.310758e-01  5.606215e-19 -3.853847e-01
4 -5.257736e-01 -1.329574e-01  2.654846e-01  3.853847e-01 -8.498308e-18

In [21]:
e1_val, e1_vec = np.linalg.eig(W1)

In [22]:
print(e1_val)
print_mat(e1_vec)

[ 0.00000000e+00+1.00000000e+00j  0.00000000e+00-1.00000000e+00j
 -3.18096916e-17+7.68448735e-17j -3.18096916e-17-7.68448735e-17j
  9.08396150e-18+0.00000000e+00j]

,0,1,2,3,4
0,-0.238858-0.489626j,-0.238858+0.489626j,-0.146725+0.347723j,-0.146725-0.347723j,0.132865+0.000000j
1,0.037946-0.217797j,0.037946+0.217797j,0.741528+0.000000j,0.741528-0.000000j,0.420219+0.000000j
2,0.064736+0.300624j,0.064736-0.300624j,0.012717+0.212459j,0.012717-0.212459j,0.824282+0.000000j
3,0.550648+0.000000j,0.550648-0.000000j,0.046892+0.328033j,0.046892-0.328033j,-0.241593+0.000000j
4,0.366201-0.349937j,0.366201+0.349937j,-0.245299-0.304008j,-0.245299+0.304008j,0.260682+0.000000j

In [23]:
v1 = np.real(e1_vec[:, 0])
v2 = np.imag(e1_vec[:, 0])

In [24]:
print(np.dot(B1, v1))
print(np.dot(B1, v2))

[ 7.06863598e-01 -1.85433114e-02 -1.38777878e-16  2.77555756e-17
 -5.55111512e-17]
[ 1.85433114e-02  7.06863598e-01 -5.55111512e-17 -4.85722573e-17
 -1.11022302e-16]

In [25]:
np.dot(W, [1, 0, 0, 0, 0])

array([ 0., -1.,  0.,  0.,  0.])

In [26]:
np.dot(W, [0, -1, 0, 0, 0])

array([-1.,  0.,  0.,  0.,  0.])